# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/week4-076.Menu/nbproject/private/
/week4-083.HangmanLogic/nbproject/private/
/week4-076.Menu/build/
/week5-090.TeamAndPlayers/nbproject/private/
/week5-091.ExtendingMyDate/nbproject/private/
/week4-083.HangmanLogic/build/
/week5-090.TeamAndPlayers/build/
/week5-091.ExtendingMyDate/build/
/week6-101.Library/nbproject/private/
/week6-100.NightSky/nbproject/private/
/week6-100.NightSky/build/
/week6-101.Library/build/